.App {
  text-align: center;
}

.Board {
  margin: 100px;
  height: 1020px;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
}

.Square {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
