.App {
  text-align: center;
  height: 1080px;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  margin: 10px;
}

.Board {
  height: 1020px;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
}

.Square {
  user-select: none;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.Info-Box {
  background-color: grey;
  display: flex;
  flex-wrap: nowrap;
  height: 60px;
  width: 100%;
  border: 1px solid black;
  justify-content: space-around;
}

h1, h2 {
  align-self: center;
}
